.mobile-footer-frame {
    width: 100%;    
    height: auto; 
    position: relative;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile-footer-red-block {
    height: 12px;
    background: var(--colours-text-marketplace-action, #E34647);
    width: 100%; 
}

.mobile-footer-links {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
    margin-left: 30px;
}

.mobile-footer-link {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18px;
    transition: color 0.3s;
}

.mobile-footer-link:hover {
    color: var(--colours-text-marketplace-action, #E34647);
}

.footer-info {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    align-items: center;
    height: 50px;
}

.social-icons {
    display: flex;
    
    gap: 16px;
    margin-right: 35px;
}

.icon {
    width: 24px;
    height: 24px;
}

.mobile-footer-trademark {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
